In [155]:
import numpy as np
import pandas as pd
!pip install Equation 
from Equation import Expression

Collecting Equation
  Downloading https://files.pythonhosted.org/packages/fd/0d/ede829e7c0c457b651de2792cd19a739e4885477f59832da54d2cc7a1982/Equation-1.2.01.tar.gz
Building wheels for collected packages: Equation
  Building wheel for Equation (setup.py) ... done
  Created wheel for Equation: filename=Equation-1.2.1-cp36-none-any.whl size=16244 sha256=e41b702e2830c56447d1ddd36f227cb9e35bfb80e2e4045eaf242e9e5ea76fb2
  Stored in directory: /root/.cache/pip/wheels/d4/b1/02/1ba0b04c7a231cd681f6f885927f41170fea59c42303ac9626
Successfully built Equation
Installing collected packages: Equation
Successfully installed Equation-1.2.1

In [32]:

def f(x):
    return(x-np.exp(1/x))

def bisection_method(a, b, tol):

  
    if f(a)*f(b) > 0:
        #end function, no root.
        print("No root found.")
    else:
        while (b - a)/2.0 > tol:
            midpoint = (a + b)/2.0
            if f(midpoint) == 0:
                return(midpoint) 
            elif f(a)*f(midpoint) < 0: 
                b = midpoint

            else:
                a = midpoint
              

        
        return(midpoint)

answer,n = bisection_method(1, 2, 0.0001)

print("N:",n, "Answer: ",  round(answer, 4))

N: 14 Answer:  1.7633

# For Simple Equations

In [268]:

def f(x):
    return (Expression(x))

def bisection_method(f,a, b, tol):
    n = 1
    tab = np.empty((0,5), dtype=float)
   

  
    if f(a)*f(b) > 0:
        #end function, no root.
        print("No root found.")

    else:
        while (b - a)/2.0 > tol:
            
            midpoint = (a + b)/2.0
            fa = f(a)
            fb = f(b)

            fx = float(f((round(midpoint,4)))) 
            fx_fix = round(fx,4)
            tab = np.append(tab,np.array([[n,round(b,4),round(a,4),round(midpoint,4),('{0:.4f}'.format(fx_fix))]]), axis =0, )

            if f(midpoint) == 0:
                n=n+1
                return(midpoint) 
            elif fa*f(midpoint) < 0: 
                b = midpoint
                n=n+1

            else:
                a = midpoint
                n=n+1

        
        return(midpoint,n,tab)

def bisec(equ,b, a ):
  fn = f(equ)
  answer,n, tab= bisection_method(fn,b, a, 0.00001)
  print("N:",n, "Answer: ",  round(answer, 4))
  df = pd.DataFrame(data=tab, columns=["N", "A (-ve)", "B (+ve)", "MidPoint", "f(x)"])
  df.index = np.arange(1,len(df)+1)
  df
  return tab
# print(tab)
  





# df = pd.DataFrame(data=tab, columns=["N", "A (-ve)", "B (+ve)", "MidPoint", "f(x)"])
# df.index = np.arange(1,len(df)+1)
# # print(tab)
# df

In [270]:
equ = "(x**4)+(2/x**4)-1000"
print(equ)
results = bisec(equ,b=5,a=6)
# bisec(b=1,a=2)

df = pd.DataFrame(data=results, columns=["N", "A (-ve)", "B (+ve)", "MidPoint", "f(x)"])
df.index = np.arange(1,len(df)+1)
df

(x**4)+(2/x**4)-1000
N: 17 Answer:  5.6234

     N A (-ve) B (+ve) MidPoint      f(x)
1    1       6       5      5.5  -84.9353
2    2       6     5.5     5.75   93.1307
3    3    5.75     5.5    5.625    1.1311
4    4   5.625     5.5   5.5625  -42.6273
5    5   5.625  5.5625   5.5938  -20.8964
6    6   5.625  5.5938   5.6094   -9.9286
7    7   5.625  5.6094   5.6172   -4.4102
8    8   5.625  5.6172   5.6211   -1.6424
9    9   5.625  5.6211    5.623   -0.2919
10  10   5.625   5.623    5.624    0.4194
11  11   5.624   5.623   5.6235    0.0637
12  12  5.6235   5.623   5.6233   -0.0786
13  13  5.6235  5.6233   5.6234   -0.0074
14  14  5.6234  5.6233   5.6234   -0.0074
15  15  5.6234  5.6234   5.6234   -0.0074
16  16  5.6234  5.6234   5.6234   -0.0074

# For Complex Equation

In [230]:
print("f(x) = x-np.exp(1/x)\n")

def f(x):
    return (x-np.exp(1/x))

def bisection_method(a, b, tol):
    n = 1
    tab = np.empty((0,5), dtype=float)
   

  
    if f(a)*f(b) > 0:
        #end function, no root.
        print("No root found.")

    else:
        while (b - a)/2.0 > tol:
         

            midpoint = (a + b)/2.0
            fx = float(f((round(midpoint,4)))) 
            fx_fix = round(fx,4)
            tab = np.append(tab,np.array([[n,round(b,4),round(a,4),round(midpoint,4),('{0:.4f}'.format(fx_fix))]]), axis =0, )

            if f(midpoint) == 0:
                n=n+1
                return(midpoint) #The midpoint is the x-intercept/root.
            elif f(a)*f(midpoint) < 0: # Increasing but below 0 case
                b = midpoint
                n=n+1

            else:
                a = midpoint
                n=n+1

        
        return(midpoint,n,tab)
answer,n, tab= bisection_method(1, 2, 0.0001)
print("N:",n, "Answer: ",  round(answer, 4))
df = pd.DataFrame(data=tab, columns=["N", "A (-ve)", "B (+ve)", "MidPoint", "f(x)"])
df.index = np.arange(1,len(df)+1)
df

f(x) = x-np.exp(1/x)

N: 14 Answer:  1.7633

     N A (-ve) B (+ve) MidPoint     f(x)
1    1       2       1      1.5  -0.4477
2    2       2     1.5     1.75  -0.0208
3    3       2    1.75    1.875   0.1704
4    4   1.875    1.75   1.8125   0.0763
5    5  1.8125    1.75   1.7812   0.0280
6    6  1.7812    1.75   1.7656   0.0037
7    7  1.7656    1.75   1.7578  -0.0085
8    8  1.7656  1.7578   1.7617  -0.0024
9    9  1.7656  1.7617   1.7637   0.0007
10  10  1.7637  1.7617   1.7627  -0.0008
11  11  1.7637  1.7627   1.7632  -0.0000
12  12  1.7637  1.7632   1.7634   0.0003
13  13  1.7634  1.7632   1.7633   0.0001

# Other Implementation

In [243]:
def func(x): 
	return (x**3)+(4*x**2)-10

def bisection(a,b): 

	if (func(a) * func(b) >= 0): 
		print("You have not assumed right a and b\n") 
		return

	c = a 
	while ((b-a) >= 0.0001): 

		c = (a+b)/2

		if (func(c) == 0.0): 
			break

		if (func(c)*func(a) < 0): 
			b = c 
		else: 
			a = c 
			
	print("The value of root is : ","%.4f"%c) 
	
a = 1
b = 2
bisection(a, b)

The value of root is :  1.3652